Source: libquill
Section: libs
Priority: extra
Maintainer: Pekka Marjola <Pekka.Marjola@nokia.com>
Build-Depends: debhelper (>= 5), libqt4-dev,
    libquillimagefilter-dev, libqt4-opengl-dev, libexif-dev, libexempi-dev,
    doxygen
Standards-Version: 3.8.0

Package: libquill1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libquillimagefilter1, libexif12,
    libexempi3
Description: libquill library
 This library is a created from libquill and it includes multi-thread.

Package: libquill-dev
Section: libdevel
Architecture: all
Depends: libquill1 (= ${binary:Version}),libquillimagefilter-dev,libqt4-dev,
         libexif-dev, libexempi-dev
Description: libquill development headers

Package: libquill-doc
Section: doc
Architecture: all
Depends: libquill1 (= ${binary:Version})
Description: Documentation for libquill

Package: libquill1-dbg
Section: devel
Architecture: any
Priority: extra
Depends: libquill1 (= ${binary:Version})
Description: libquill debug symbols

Package: libquill-tests
Section: tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqtcore4, libqtgui4, libquill1 (= ${binary:Version}), libquillimagefilter1, libexif12, libexempi3, testrunner, ci-package, ci-testing [armel]
XB-Maemo-CI-Packages: libquill1
XB-Maemo-CI-Stage: fast, staging, acceptance
Description: libquill unit tests
 This is the image editor's unit tests and it includes libquill, quillimagefilter and qtimagefilter
